################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Program1/.vs/Program1
/Task1/.vs/Task1
