################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Program1/.vs/Program1
/Task2/.vs/Task2/FileContentIndex
/Task2/.vs/Task2/v17
/Seminar2/.vs/Seminar2/FileContentIndex
/Seminar2/.vs/Seminar2/v17/ipch/AutoPCH/2caf8793e35865f5
